body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    padding: 10px 0;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

.container { 
    margin-top: 30px;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
}

.text-center {
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
}

#searchButton {
    border-radius: 5px;
}